.course-item {
	background-color: #fff; 
	box-shadow: 0 0 5px #808080; 
	margin: 5px; 
	padding: 5px 5px 5px; 
	border-radius: 5px;
	position: relative;
}
.course-item .btn {
	box-shadow: 0 0 5px #808080; 
	border-radius: 5px;
	margin: 5px;
}
