{% extends "template.html" %}

{% block title %} Софийската математическа гимназия "Паисий Хилендарски" {% endblock %}

{% block head %}
    {{ parent() }}
	
    <link rel="stylesheet" href="/scripts/css/index.css" type="text/css" />
    <link rel="stylesheet" href="{{ root }}/static/css/items.css" type="text/css" />
{% endblock %}

{% block content %}
        <div class="parallaxContainer">
            <div class="parallax"></div>
            <div class="mobParallax"></div>
        </div>

        <div class="introWrap">
            <div class="intro">
                <div>
                    <p class="introTitle">
                        Добре дошли в системата за тестове на
                        <br>Софийска Математическа Гимназия
                        <br>"Паисий Хилендарски"
                    </p>
                </div>
            </div>
            <div class="introTextWrap">
                <span class="introText">
                    <i>
                    "Работим за модерно училище"</i>
                    <p align="right">- Алекс Цветанов (TechEdu++)</p>
                    <i>
                    "Работим за модерно училище"</i>
                    <p align="right">- Алекс Цветанов (TechEdu++)</p>
                    <i>
                    "Работим за модерно училище"</i>
                    <p align="right">- Алекс Цветанов (TechEdu++)</p>
				</span>
            </div>
        </div>

		<br><br>

<div class="container">
	<div class="row">
		<div class="card container">
			<h4 class="card-header">Live tests</h4>

			<div class="card-body row">
				{% for contest in contests %}
					<div class="course-item col-md-auto">
						<h5 class="card-title" id="{{ contest.ID }}">{{ contest.Name }}</h5>
						<a href="{{ root }}/contests/compete.php?id={{ contest.ID }}" role="button" class="btn btn-raised btn-success">Compete »</a> <a href="{{ root }}/contests/results.php?id={{ contest.ID }}" role="button" class="btn btn-primary active">View results »</a></span>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="card container">
			<h4 class="card-header">Future tests <a style="float: right;" href="/contests/future/all.php"><i class="fas fa-bars"></i></a></h4>

			<div class="card-body row">
				{% for contest in future %}
					<div class="course-item card col-md-auto">
						<div class="card-body">
							<h5 class="card-title" id="{{ contest.ID }}">{{ contest.Name }}</h5>
						</div>
						<div class="card-footer">
							<a href="{{ root }}/contests/compete.php?id={{ contest.ID }}" role="button" class="btn btn-raised btn-success">Compete »</a> <a href="{{ root }}/contests/results.php?id={{ contest.ID }}" role="button" class="btn btn-primary active">View results »</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	<div class="card">
		<h4 class="card-header">Homework</h4>
		<div class="card-body">
			{% for contest in homework %}
				<div class="course-item col-md-4">
					<h5 class="card-title" id="{{ contest.ID }}">{{ contest.Name }}</h5>
					<a href="{{ root }}/contests/compete.php?id={{ contest.ID }}" role="button" class="btn btn-raised btn-success">Compete »</a> <a href="{{ root }}/contests/results.php?id={{ contest.ID }}" role="button" class="btn btn-primary active">View results »</a></span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}

