{% extends "template.html" %}

{% block title %} СМГ Прием {% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="scripts/css/tabs.css" type="text/css" />
    <link rel="stylesheet" href="scripts/css/admission.css" type="text/css" />
	
	 <script src="scripts/js/tabs.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	            <button id="leftArrow"></button>
            <button id="rightArrow"></button>
        <div class="tabsWrap">
            <div id="tabs">
                <a id="tab1-tab" href="#tab1" class="active ripple">СЛЕД IV КЛАС</a>
                <a id="tab2-tab" href="#tab2" class="ripple">СЛЕД VII КЛАС</a>
                <a id="tab3-tab" href="#tab3" class="ripple">В СТАРШИ КЛАСОВЕ</a>
                <span class="bar"></span>
            </div>
        </div>
        <div class="tabsContent">
            <div id="tab1">
                    <div class="materialContainer">
                        <p>
                            С цел откриване и развитие на математическия талант възможно най-рано, СМГ приема ученици след завършен IV клас. Това се
                            осъществява въз основа на резултатите им от определени математически състезания и олимпиада и от
                            организираното от СМГ и МОН национално математическо състезание „Откриване на млади таланти”.
                        </p>
                    </div>
                    <div class="parallaxContainer">
                        <div class="parallax" style="background-image: url(./img/admissionParallax.jpg);"></div>
                        <div class="mobParallax" style="background-image: url(./img/admissionParallax.jpg);"></div>
                    </div>
                    <div class="materialContainer">
                        <h1>Прием след завършен 4 клас</h1>
                        <p>
                            При участие в приема за V клас на учебната 2018/2019 година в СМГ "Паисий Хилендарски" учениците ще бъдат класирани въз основа
                            резултати от:
                        </p>
                        <ul>
                            <li>Математическо състезание „Откриване на млади таланти“ за ученици от IV клас, 09.06.2018 г.</li>
                            <li>Математическо състезание „Питагор“ за ученици от IV клас, 28.04.2018 г.</li>
                            <li>Олимпиада по математика – областен кръг</li>
                        </ul>
                    <hr>
                        <p>
                            <a href="./uploads/Pravila%20priem%20za%202017-2018%20new.pdf" target="_blank">
                                Вътрешните правила за прием на ученици в 5-ти клас за учебната 2017-2018 година може да изтеглите от тук.
                            </a>
                            <br>
                            <br>
                            <a href="./uploads/Reglament%20systezanie%20OMT%20za%202016-2017.pdf" target="_blank">
                                Регламент на състезанието "Откриване на млади таланти - 2017 г." може да изтеглите от тук.
                            </a>
                            <br>
                            <br>
                            <p class="italics">
                                **Класирането на кандидатите се прави единствено по време на кампанията по прием в края на месец юни. СМГ не носи отговорност
                                и не гарантира за коректността на подобни класирания, които са публикувани в други сайтове, различни
                                от официалния ни сайт.
                            </p>
                        </p>
                    </div>
            </div>
            <div id="tab2">
                <div class="materialContainer">
                    <h1>Прием след завършен 7 клас</h1>
                    <p>
                        Необходими документи за записване за 8 клас:
                    </p>
                    <ul>
                        <li>Заявление по образец</li>
                        <li>Оригинал на Свидетелство за завършено основно образование</li>
                        <li>Оригинал на Служебна бележка с оценките от положените изпити</li>
                        <li>Медицински картон</li>
                    </ul>
                </div>
                <div class="parallaxContainer">
                    <div class="parallax" style="background-image:url(./img/admissionParallax2.jpg);"></div>
                    <div class="mobParallax" style="background-image:url(./img/admissionParallax2.jpg);"></div>
                </div>
                <div class="materialContainer">
                    <p>
                        Уважаеми родители и ученици,
                        <br>
                        <br>
                        <a href="./uploads/zap09_1638_izm_grafik_priem_7kl-2017.pdf" target="_blank">
                            Графика на дейностите по приемане на ученици за учебната 2017-2018 година можете да видите тук.
                        </a>
                        <br>
                        <br>
                        <a href="./uploads/New_Priem_na_uchenici_2017-2018.pdf" target="_blank">
                            ПРЕЗЕНТАЦИЯ за начина на прием през учебната 2017-2018 година, балообразуване, срокове, както и за СМГ, може да видите ТУК.
                        </a>
                        <br>
                        <br>
                        <a href="./uploads/nrdb_10_01.09.2016_organizacia_dejnosti_obr_02.2017.pdf" target="_blank">
                            Държавният образователен стандарт (ДОС) за организацията на дейностите в училищното образование можете да видите тук.
                        </a>
                        <p class="italics" style="padding-left: 0;">(Раздел III Държавен прием на ученици в VIII клас, от чл.54 до чл.72)</p>
                    </p>
                <hr>
                    <p style="font-weight: 500">
                        След 7-ми клас СМГ приема шест паралелки за учебната 2017-2018 година:
                    </p>
                    <ul>
                        <li>4 паралелки профил "Математически" с интензивно изучаване на математика, информатика и английски
                            език;
                        </li>
                        <li>2 паралелки профил "Математически" с интензивно изучаване на математика, информатика и немски език.</li>
                    </ul>
                    <p class="italics">
                        *Заб.: Учениците, приети в СМГ след 4-ти клас, също кандидатсват след 7-ми клас на общо основание (заедно с всички други).
                    </p>
                <hr>
                    <p style="font-weight: 500;">
                        Балообразуване (максимален бал 500 точки):
                    </p>
                    <ul>
                        <li>утроената оценка от НВО по Математика (макс. 3х100 точки);</li>
                        <li>оценката от НВО по БЕЛ (макс. 100 точки);</li>
                        <li>оценката по Математика от удостоверението за завършен 7-ми клас, преобразувана в точки** (макс. 50
                            точки);
                        </li>
                        <li>и оценката по БЕЛ от удостоверението за завършен 7-ми клас, преобразувана в точки** (макс. 50 точки).</li>
                    </ul>
                    <p class="italics">
                        **Заб.: по скала според ДОС за оценяване на резултатите от обучението на учениците: отличен 6 се приравнява на 50 точки;
                        много добър 5 се приравнява на 39 точки; добър 4 се приравнява на 26 точки; среден 3 се приравнява
                        на 15 точки.
                    </p>
                </div>
            </div>
            <div id="tab3">
                <div class="materialContainer">
                    <center>
                        <h1>UNDERGOING MAINTENANCE</h1>
                        <img src="/img/nbpYKyt.png" />
                    </center>
				</div>
			</div>
        </div>
{% endblock %}

