{% extends "template.html" %}

{% block title %} СМГ Курсове {% endblock %}

{% block head %}
    {{ parent() }}
	
    <link rel="stylesheet" href="scripts/css/tabs.css" type="text/css" />
    <link rel="stylesheet" href="scripts/css/courses.css" type="text/css" />
	
	<script src="scripts/js/tabs.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
         <button id="leftArrow"></button>
            <button id="rightArrow"></button>
        <div class="tabsWrap">
            <div id="tabs">
                <a id="tab1-tab" href="#tab1" class="active ripple">ИНФОРМАЦИЯ</a>
                <a id="tab2-tab" href="#tab2" class="ripple">ЗАПИСВАНЕ</a>
                <a id="tab3-tab" href="#tab3" class="ripple">ГРАФИК</a>
                <a id="tab4-tab" href="#tab4" class="ripple">РЕЗУЛТАТИ</a>
                <span class="bar"></span>
            </div>
        </div>
        <div class="tabsContent">
            <div id="tab1">
                <div class="materialContainer">
                    <h1>Информация за курсове</h1>
                    <p>Телефон за информация: 02/9839214</p>
                    <br>
                    <p style="font-weight: 500">ЗАПИСВАНЕ ЗА КУРСОВЕ: СТАЯ №1 ВРЕМЕННО НЯМА ДА РАБОТИ</p>
                    <br>
                    <p>
                        За записване на нов курсист в оставащите занятия от модула или за преместване от една група/преподавател в друга група/преподавател
                        заповядайте в сградата на СМГ от 10:00 до 12:00 и от 13:00 до 17:00 часа, където ще получите нужното
                        съдействие.
                    </p>
                    <br>
                    <p class="italics">
                        *Информация за Втори модул очаквайте на сайта на СМГ.
                    </p>
                </div>
                <div class="parallaxContainer">
                    <div class="parallax" style="background-image: url(./img/coursesParallax.jpg);"></div>
                    <div class="mobParallax" style="background-image: url(./img/coursesParallax.jpg);"></div>
                </div>
                <div class="materialContainer">
                    <p style="font-weight: 500">
                        Работно време на стая №1 след 15.06.2017 г.:
                    </p>
                    <ul>
                        <li>понеделник от 7:30 до 12:00 часа;</li>
                        <li>вторник от 13:30 до 18:00;</li>
                        <li>сряда от 7:30 до 12:00 часа;</li>
                        <li>четвъртък от 13:30 до 18:00;</li>
                        <li>петък от 7:30 до 12:00 часа;</li>
                    </ul>
                    <hr>
                    <a href="./uploads/kursove%20za%202017-2018.pdf" target="_blank">
                        Актуална информация относно групите и свободните места при съответните преподаватели може да видите тук.
                    </a>
                    <br>
                    <br>
                    <p class="blueBackgroundText">
                        Училищното настоятелство и ръководството на СМГ търси Вашето разбиране и разчита на Вашето съдействие при разрешаването на
                        проблемите в организацията на движение в района на училището в дните, в които се провеждат подготвителни
                        курсове.
                        <br>
                        <br> Заради зачестилите случаи на линейки, които трудно преминават по улиците "Искър", "Чумерна", "Екзарх
                        Йосиф" и по бул. „Васил Левски“ от Столична община се обърнаха към нас с предписания за урегулиране
                        на движението. Информираме ви своевременно за промените.
                        <br>
                        <br> Забранява се спирането на автомобили по бул. "Васил Левски", в отсечката между ул. "Екзарх Йосиф"
                        и ул. "Искър", както и по ул. „Искър“, в отсечката между бул. "Васил Левски" и ул. "Чумерна". Забраната
                        е обозначена със съответните знаци, а контролните органи имат ангажимента да следят за спазването
                        ѝ.
                        <br>
                        <br> Припомняме Ви, че входът на училището откъм ул. „Чумерна“ е затворен в събота и неделя, използвайте
                        този откъм ул. „Искър“. Запазва се практиката курсистите от 2-ри до 4-ти клас да бъдат извеждани
                        от своя учител в двора на гимназията.
                        <br>
                        <br> В интерес на всички ни е да създадем спокойна среда за работа на учениците и учителите, както в
                        района на училището, така и в неговата сграда.
                        <br>
                        <br> Информация за организацията на курсовете винаги ще намерите в сайта на СМГ. Молим Ви да спазвате
                        правилата за влизане и излизане от училището.
                        <br>
                        <br> Вие носите отговорност за здравето и сигурността на Вашето дете, а ние за всички деца, които посещават
                        подготвителните курсове. Създаването на конфликтни ситуации не е в интерес на никого. В случай че
                        имате неясноти и въпроси, търсете повече информация от преподавателя на Вашето дете.
                        <br>
                        <br> Благодарим ви за споделеното партньорство в създаването на добронамерена училищна среда!
                        <br>
                        <br> Отправяме молба към всички Вас да положим съвместни усилия за намаляване на автомобилния трафик
                        в района на гимназията.
                    </p>
                </div>
            </div>
            <div id="tab2">
                <div class="materialContainer">
                    <a href="./uploads/Zaiavlenie%20ot%20roditel.pdf" target="_blank">
                        Заявление за записване можете да изтеглите от тук.
                    </a>
                    <br>
                    <br>
                    <a href="./uploads/Obshti%20uslovia%20kursove.pdf" target="_blank">
                        Задължително е да се запознаете с Общите условия от тук.
                    </a>
                </div>
                <div class="parallaxContainer">
                    <div class="parallax" style="background-image: url(./img/coursesParallax2.jpg);"></div>
                    <div class="mobParallax" style="background-image: url(./img/coursesParallax2.jpg);"></div>
                </div>
                <div class="materialContainer">
                    <p style="font-weight: 500">
                        Цена на един модул:
                    </p>
                    <ul>
                        <li>за група от 20-28 ученици: 180 лв.</li>
                        <li>за маломерна група от 10-15 ученици: 240 лв.</li>
                        <li>за група 12 клас – матура: 300 лв</li>
                    </ul>
                    <p>
                        Можете да запишете ученик за курс, при условие че има обявена група при желания преподавател за съответния клас и има свободни
                        места в тази група.
                        <br>
                        <br> Записването за курсовете за 2016/2017 учебна година се извършва в стая №1 в СМГ, ул. „Искър” №61.,
                        където трябва да подадете Заявление за записване (по образец) и да заплатите таксата за Модул 1.
                        <br>
                        <br> Заплатена такса не е основание за записване на ученик за курс. Попълнено Заявление за записване,
                        което не е вписано в Стая №1 със съответния входящ номер, не е основание за записване за курс.
                        <br>
                        <br> Съветваме Ви предварително да изтеглите от сайта ни
                        <a href="./uploads/Zaiavlenie%20ot%20roditel.pdf" target="_blank">Заявлението за записване</a> и да го попълните. Ако сте пропуснали да го сторите, имате възможност
                        да го направите на място в Стая №1.
                        <br>
                        <br> Задължително е да познавате
                        <a href="./uploads/Obshti%20uslovia%20kursove.pdf" target="_blank">Общите условия</a> за провеждане на подготвителните курсове.
                        <br>
                        <br> Записаните ученици ще могат да ползват отстъпка от таксата, ако впоследствие запишете техен брат/сестра
                        (т.3.7. от Общите условия). Отстъпката ще се начислява при последващото записване на брата/сестра.
                        <br>
                        <br> Необходимо е да носите акт за раждане, за да удостоверите основанието за отстъпка.
                        <br>
                        <br> Курсовете НЕ са за ученици, които учат в СМГ "Паисий Хилендарски".
                    </p>
                </div>
            </div>
            <div id="tab3">
                <div class="materialContainer">
                    <h1>График на курсовете</h1>
                    <a href="./uploads/Grafik%20Modul%2001%202017-2018.pdf" target="_blank">
                        График на Модул 1 от курсовете може да видите тук.
                    </a>
                    <br>
                    <br>
                    <p class="italics">
                        *Графикът на модулите е примерен и може да бъде променян впоследствие поради: празници, провеждане на състезания, олимпиади,
                        избори, отработване на дни и други.
                        <br>
                        <br>
                    </p>
                    <p>
                        За въпроси относно графика се обръщайте към съответния преподавател.
                    </p>
                </div>
            </div>
            <div id="tab4">
                <div class="materialContainer">
                    <h1>Тренировъчни тестове през тази учебна година все още не са провеждани.</h1>
                </div>
            </div>
        </div>
{% endblock %}

