{% extends "template.html" %}

{% block title %} СМГ Информация {% endblock %}

{% block head %}
    {{ parent() }}
		<link rel="stylesheet" href="scripts/css/tabs.css" type="text/css" />
    <link rel="stylesheet" href="scripts/css/info.css" type="text/css" />

		<script src="scripts/js/tabs_class.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <main>
            <button id="leftArrow"></button>
            <button id="rightArrow"></button>
        <div class="tabsWrap">
            <div class="tabs">
                <a id="tab1-tab" href="#tab1" class="active ripple">НАСТОЯТЕЛСТВО</a>
                <a id="tab2-tab" href="#tab2" class="ripple">ОБЩЕСТВЕН СЪВЕТ</a>
                <a id="tab3-tab" href="#tab3" class="ripple">УЧЕНИЧЕСКИ СЪВЕТ</a>
                <span class="bar"></span>
            </div>
        </div>
        <div class="tabsContent">
            <div id="tab1">
                <div class="materialContainer">
                        <h1>Настоятелство</h1>
                        <a href="./uploads/priet_byudjet_UN_2017.pdf" target="_blank">
                            Тук може да видите бюджет за 2017 година</a> на „Училищно настоятелство „Паисий Хилендарски” при
                        Софийска математическа гимназия” (приет от Общо събрание на 26.04.2017 г.).
                        <br>
                        <br>
                        <a href="./uploads/proekt_promiana_byudjet_UN_2017.pdf" target="_blank">
                            Тук воже да видите
                            <b>предложение</b> за промяна на бюджет за 2017 година</a> на „Училищно настоятелство „Паисий Хилендарски”
                        при Софийска математическа гимназия”.
                        <br>
                        <br>
                        <a href="./uploads/otcheten%20doklad%20UN%20za%202016.pdf" target="_blank">
                            Тук може да видите Отчетен доклад</a> на сдружение „Училищно настоятелство „Паисий Хилендарски” при
                        Софийска математическа гимназия” за 2016 г.
                        <hr>
                        <p>
                            "Училищно настоятелство "Паисий Хилендарски" при Софийска математическа гимназия" е регистрирано като юридическо лице с нестопанска
                            цел и е вписано в Централния регистър на юридическите лица за осъществяване на общественополезна
                            дейност.
                            <br>
                            <br> Настоятелството набира средства за осъществяване на целите, залегнали в
                            <a href="">устава</a>, чрез дарения и като организира курсове за ученици.
                            <br>
                            <br> Постъпленията от
                            <a href="./courses.html">организацията и провеждането на курсовете</a> дават възможност на
                            <b>училищното настоятелство да заплаща участията на отборите на СМГ на състезания и олимпиади в страната.</b>
                            По този начин се създава възможност на избраните след оспорвани вътрешни контролни млади математици да представят училището
                            на повече състезания в страната. Средствата за състезанията в чужбина се набират чрез целеви дарения.
                            <br>
                            <br>
                            <b>Всяка година определена сума се заделя и за подобряване на материалната база на Софийска математическа
                                гимназия.
                            </b>
                            <br>
                            <br> Ние работим доброволно, безвъзмездно и с желание да допринесем за щастието и успеха на нашите деца
                            и техните учители, за да продължат да прославят България и да доказват, че подготовката и постиженията
                            на учениците в Софийска математическа гимназия могат да се мерят с най-добрите по света.
                            <br>
                            <br> И Вие може да ни подкрепите:
                            <p class="padded">
                                Банкова сметка:
                                <br> IBAN: BG05UNCR76301078659065
                                <br> BIC UNCRBGSF, УниКредит Булбанк, клон пам. Левски
                                <br> Сдружение Училищно настоятелство „Паисий Хилендарски” при Софийска математическа гимназия
                                <br>
                                <br>
                            </p>
                            Благодарим на всички дарители!
                        </p>
                        <hr>
                        <a href="">Устав на "Училищно настоятелство „Паисий Хилендарски” при Софийска математическа гимназия".</a>
                        <br>
                        <br>
                        <p class="padded">
                            Съвет на настоятелите:
                            <br> Искра Спасова – председател
                            <br> Румяна Караджова
                            <br> Петя Тодорова
                            <br> Гергана Благиева
                            <br> Нина Колева
                            <br> Анастас Костов
                            <br> Екатерина Георгиева
                            <br>
                            <br>
                        </p>
                        <p>
                            За контакти:
                            <br> e-mail:
                            <a href="mailto:nastoyatelstvo@smg.bg">nastoyatelstvo@smg.bg</a>
                        </p>
                </div>
            </div>
            <div id="tab2">
                <div class="materialContainer">
                    <h1>Обществен съвет</h1>
                    <ul>
                        <li><a href="./uploads/pokana_syzdavane.pdf" target="blank">Покана създаване</a></li>
                        <li><a href="./uploads/pokana-obshtestven_savet.pdf" target="blank">Покана РС</a></li>
                        <li><a href="./uploads/pravilnik_obshtestveni_saveti.pdf" target="blank">Правилник</a></li>
                    </ul>
                </div>
            </div>
            <div id="tab3">
                <div class="materialContainer">
					<div class="tabsWrap">
						<div class="tabs">
						<center>
							<a id="tab4-tab" href="#tab4" class="active ripple">Цели</a>
							<a id="tab5-tab" href="#tab5" class="       ripple">Клубове</a>
							<a id="tab6-tab" href="#tab6" class="       ripple">Съобщения</a>
							<span class="bar"></span>
						</center>
						</div>
					</div>
					<div class="tabsContent">
						<div id="tab4">
							<h2>Цел</h2>
							Учническият съвет на СМГ се занимава с организиране на дейности за ученици и деца. Нашата основна цел е да дадем възможност на всеки един учиник да изрази себе си чрез събитията, които ние правим.<br>
<br>
							Присъедини се и ти към нас! Добре дошъл си по всяко време! ☺
							<hr>
							<h2>Дейности</h2>
							Част от нашите дейности всяка година включват организиранe на:
<ul>
    <li>Благотворителни концерти</li>
	<li>"Денят на отворените умове"</li>
	<li>Завършването на учебната година</li>
	<li>Спортни дейнсти</li>
	<li>Театрални представления и литературни четения</li>
	<li>Извънучебни дейности в партньорство с други училища</li>
</ul>
						</div>
						<div id="tab5">
						b
						</div>
						<div id="tab6">
						c
						</div>
					</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
